<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="file">
    <script>
        let xhr = new XMLHttpRequest();
        xhr.open('get', 'http://118.178.190.150:80/bilibili/user');
        xhr.send();
        xhr.onload = () => {
            const res = xhr.responseText;
            console.log(res);
            console.log("请求成功");
        }
    </script>
</body>

</html>