<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/favicon.ico">
    <title>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/banner.css">
</head>

<body>
    <div class="nav">
        <div class="nav-content">
            <div>
                <ul class="nav-link">
                    <li class="nav-link-li nav-link-main">
                        <span class="logo-box">
                            <img src="../../../static/image/BILIBILI_LOGO.png" class="bilibili-logo">
                        </span>
                        <span class="bilibili-main">
                            <div class="test"></div>主站
                        </span>
                    </li>
                    <li class="nav-link-li">番剧</li>
                    <li class="nav-link-li">游戏中心</li>
                    <li class="nav-link-li">直播</li>
                    <li class="nav-link-li">会员购</li>
                    <li class="nav-link-li">漫画</li>
                    <li class="nav-link-li">赛事</li>
                    <li class="nav-link-li">百大</li>
                    <li class="bilifont nav-link-li bili-download-app">下载APP</li>
                </ul>
            </div>
            <div id="nav-search">
                <form id="nav-search-form">
                    <input class="nav-search-keywords" type="text" placeholder="只要我够努力，老板就能过上他想要的生活。">
                    <div class="nav-search-btn">
                        <button class="bilifont nav-search-submit"></button>
                    </div>
                </form>
            </div>
            <div id="nav-user-center">
                <ul class="nav-userCenter-ul">
                    <li class="user-login">
                        <img class="logout-photo" src="../../../static/image/bili-head-photo.jpg">
                        登录
                    </li>
                    <li>注册</li>
                    <li>
                        <div class="user-contribute">投稿</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="../../../static/image/bili-background.png">
    </div>
    <div class="banner_line">
        <span>登录</span>
    </div>
    <div class="login-box clearfix">
        <div class="login-left"></div>
        <div class="line"></div>
        <div class="login-right"></div>
    </div>
</body>

</html>