<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../image/favicon.ico">
    <title>哔哩哔哩弹幕视频网 - ( ゜- ゜)つロ 乾杯~ - bilibili</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../static/css/register.css">
</head>

<body>
    <div class="nav">
        <div class="nav-content">
            <div>
                <ul class="nav-link">
                    <li class="nav-link-li nav-link-main">
                        <span class="logo-box">
                            <img src="../../../static/image/BILIBILI_LOGO.png" class="bilibili-logo">
                        </span>
                        <span class="bilibili-main">
                            <div class="test"></div>主站
                        </span>
                    </li>
                    <li class="nav-link-li">番剧</li>
                    <li class="nav-link-li">游戏中心</li>
                    <li class="nav-link-li">直播</li>
                    <li class="nav-link-li">会员购</li>
                    <li class="nav-link-li">漫画</li>
                    <li class="nav-link-li">赛事</li>
                    <li class="nav-link-li">百大</li>
                    <li class="bilifont nav-link-li bili-download-app">下载APP</li>
                </ul>
            </div>
            <div id="nav-search">
                <form id="nav-search-form">
                    <input class="nav-search-keywords" type="text" placeholder="满堂花醉三千客，一剑霜寒十四州。">
                    <div class="nav-search-btn">
                        <button class="bilifont nav-search-submit"></button>
                    </div>
                </form>
            </div>
            <div id="nav-user-center">
                <ul class="nav-userCenter-ul">
                    <li class="user-login">
                        <img class="logout-photo" src="../../../static/image/bili-head-photo.jpg">
                        登录
                    </li>
                    <li>注册</li>
                    <li>
                        <div class="user-contribute">投稿</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">
        <img src="../../../static/image/bili-background.png">
    </div>
    <div class="banner_line">
        <span>注册</span>
    </div>
    <div class="register-box">
        <form action="http://127.0.0.1:8080/bilibili/register" method="post" name="register" id="register-form">

            <div class="form-box">
                <div class="username-box">
                    <input id="fm-username" class="form-register-input" type="text" name="username" placeholder="昵称"
                        autocomplete="off">
                    <p id="return-message"></p>
                </div>
                <div class="register-hidden-group"></div>
                <div class="password-box">
                    <input id="fm-password" class="form-register-input" type="password" name="password"
                        placeholder="密码(6-16个字符组成，区分大小写)">
                    <p class="judge-password"></p>
                </div>
                <div class="register-hidden-group"></div>
                <div class="phone-box">
                    <div class="area">
                        中国大陆
                    </div><input class="register-phone" type="text" name="phone" placeholder="请填写你的手机号码">
                    <p class="judge-phone"></p>
                </div>
                <div>
                    <label class="fm-register">
                        <label class="fm-checkbox">
                            <input type="checkbox" class="front-box">
                        </label>
                        我已同意
                        <a href="https://www.bilibili.com/protocal/licence.html" target="_blank">
                            《哔哩哔哩弹幕网用户使用协议》
                        </a>
                        和
                        <a href="https://www.bilibili.com/blackboard/privacy-pc.html" target="_blank">
                            《哔哩哔哩隐私政策》
                        </a>
                    </label>
                    <input id="register-submit" type="submit" value="注册" class="fm-submit">
                </div>
                <div id="pc-direct-register">
                    <a href="#">已有账号，直接登录 ></a>
                </div>
            </div>
        </form>
    </div>
    <script>
        //获取html中的元素节点
        let fm_username = document.getElementById("fm-username");
        let fm_password = document.getElementById("fm-password");
        let return_message = document.getElementById("return-message");
        let judge_password = document.getElementsByClassName("judge-password")[0];
        let checkbox = document.getElementsByClassName("fm-checkbox")[0];
        let frontBox = document.getElementsByClassName("front-box")[0];
        let register_submit = document.getElementById("register-submit");
        let phoneNumber = document.getElementsByClassName("register-phone")[0];
        let judge_phone = document.getElementsByClassName("judge-phone")[0];
        //复选盒子选中状态
        let i = 0;
        frontBox.addEventListener('click', function () {
            if (i % 2 == 0) {
                checkbox.style.backgroundImage = "url(../image/checkedbox.jpg)";
                register_submit.style.cursor = 'pointer';
                register_submit.style.color = '#fff';
                register_submit.style.backgroundColor = '#33b4de';
                register_submit.style.borderColor = '#33b4de';

                i = 1;
            } else {
                checkbox.style.backgroundImage = "url(../image/uncheckedbox.png)";
                register_submit.style.cursor = 'not-allowed';
                register_submit.style.backgroundColor = '#f5f5f5';
                register_submit.style.borderColor = '#d9d9d9';
                register_submit.style.color = 'rgba(0,0,0,.25)';
                i = 0;
            }
        }, false)
        //检查用户写的昵称是否符合规范
        fm_username.oninput = function () {
            let username = this.value;
            let regUser = /^[a-zA-Z0-9\u4e00-\u9fa5-_]{2,10}$/;
            if (username.length == 0) {
                return_message.innerHTML = "请告诉我你的昵称吧"
            } else if (username.length < 2) {
                return_message.innerHTML = "用户昵称过短";
            } else if (username.length > 10) {
                return_message.innerHTML = "用户昵称过长";
            } else if (!regUser.test(username)) {
                return_message.innerHTML = "昵称不可包含除-和_以外的特殊字符";
            } else return_message.innerHTML = "";
        }
        //检查用户写的密码是否符合规范
        fm_password.onblur = function () {
            let password = this.value;
            let regPass = /^[\n]{6,16}$/;
            if (password.length < 6) {
                judge_password.innerHTML = "密码不能小于6个字符";
            } else if (password.length > 16) {
                judge_password.innerHTML = "密码不能大于16个字符";
            } else judge_password.innerHTML = "";
        }
        //检查用户写的手机号是否符合规范
        phoneNumber.oninput = function () {
            let phone = this.value;
            let phoneReg = /^1[0-9]{10}$/;
            if (!phoneReg.test(phone)) {
                judge_phone.innerHTML = "请输入正确的手机号码";
            } else {
                judge_phone.innerHTML = "";
            }
        }
        //检验用户名是否重复
        //url处填写后端网址
    </script>
</body>

</html>